
.homepage-main{
    background-image: url("https://images.pexels.com/photos/631317/pexels-photo-631317.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.home-info{
    color: white;
    font-size: xx-large;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    margin-top: 10%;
}

@media only screen and (max-width: 768px) {
    .homepage-main{
        background-image: url("https://images.pexels.com/photos/631317/pexels-photo-631317.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 768px;
        height: 100vh;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    .logo img{
        width: 150px;
        height: auto;
        margin-left: 0;
    }
    .nav-container{
        display: flex;
        flex-direction: row;
    }
    .home-info{
        color: white;
        font-size: x-large;
        font-weight: 300;
        text-align: start;
        height: 200px;
        margin-top: 50%;
    }
    .navlinks a, li{
        font-weight: 400;
        text-decoration: none;
        color: white;
        list-style: none;
        font-size: large;
    }

}